
.separator {

  clear:both;
  margin-top: 300px;

}

.inner h1 {

  margin-top: 400px;
  padding-left: 40px;

}


#xxend-section {
  clear:both;
  margin-top:400px;
  padding-top:400px;
}

#murphy {

  width: 230px; 
  height: 60px;
  background-color: #EC6708;
  font-size:22px;
  float: left;

}

#bouvetlogo {

  margin: 0 auto;
  display: block;

}

.xxbottom-container {
  position:relative;
  clear:both;
  margin-top: 100px;
}

#img-text{
    margin-top: 50px;
  width: 40%;
  line-height: 1.5;
  float: left;
  clear:both;
}

.img-container {

  position: relative;

}

.img-container img {

  position: absolute;
  left: 700px;
  width: 350px;
  
}

.hide {
  display: none;
}

.show {
  display:block;
}


.menuBtn {

	background: center center no-repeat transparent;
	background: #000;
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 10px;

}

.active {
	background: #3B5323;
}
.clear {
	clear: both;
}
.wrap {

		width: 100%;
		max-width: 1500px;
		min-width: 960px;
		z-index: 10;
		position: relative;
		margin: 0 auto;
		padding: 0;
        background:url(http://millum-static-files.herokuapp.com/img/Silomannen_papir.jpg) no-repeat;
  background-size: 1500px;

}



.section {
	width: 100%;
	max-width: 1280px;
	min-width: 960px;
	z-index: 10;
	position: relative;
	margin: 0 auto;
	padding: 0 0 0px 0;
}


.inner {
	width: 1500px;
	margin: 0 auto;
	position: relative;
	min-height: 50px;
	padding:30px 0;
	font-size: 18px;
	font-family: Arial;
	font-weight: 300;
	padding:30px 0;
}


/* This is the selector i used for my menu, it needs to be set as position:absolute; */
.subMenu {
	position: absolute;
	top: 0px;
	height: 50px;
	z-index: 1000;
	width: 100%;
	max-width: 1500px;
	min-width: 960px;
	background: #EC6708;

}

.subMenu .inner {
	padding:0;
	font-weight: 400;
}





.subNavBtn {
	display: block;
	height: 35px;
	width: 16%;
	float: left;
	margin: 0px 0px 0 0;
	text-decoration: none;
	font-size: 14px;
	padding: 15px 0 0 0;
	text-align: center;
	color: #fff;
}

.end {
	margin: 0;
}


/* SECTIONS */
.sTop {
	min-height: 130px;
	background:#fff;
	color:#3d3d3d;
	
}

.sTop h1 {
  text-align: center;
}

.s1 {
	min-height: 800px;
}


.s2 {
	min-height: 800px;
}


.s3 {
	min-height: 800px;
}


.s4 {
	min-height: 800px;
	color: #000;
}

.s5 {
	min-height: 800px;
	color: #000;
}

.s6 {
	min-height: 800px;
	color: #000;
}

.s7 {
	min-height: 800px;
	color: #000;
}



