/*

Hovedfarger:
Blå #00a0ff  
Grafitt #424445
Lysgrå #ededed
Varm mellomgrå #e6e4e2

Komplement:
Varm mørkgrå #a19c96 
Grønn #41d705
Oransje #ec581e

/*
Størrelser og type:
Alle overskrifter/ All h-elements: PT SANS Narrow  + teksten i grå bokser og blå bokser, skal også være narrow
All other text/brødtekst og alt annet: PT SANS (regular)


body base: 16px
hovedfarge mørk font: #363639;

H1: 40px (ikke pt som på skissen)
H2: 28px 
H3: 20px
H4: 17px

brødtekst: 15px;

Millumblå
RGB 0-160-255
HEX 00a0ff

Grafitt/Sort
RGB 66-68-69
HEX 424445

Oransje
RGB 235-90-30
HEX eb5a1e

Grønn
RGB 5-210-0
HEX 05d200

Lilla
RGB 120-20-170
HEX 7814aa

Varm lysgrå  
RGB 237-237-237
HEX ededed

Varm mellomgrå
RGB 205-200-190
HEX cdc8be

Varm mørkgrå
RGB 160-155-150
HEX a09b96


*/


body {
	background-image: url(../img/lghtmesh.png);
	font-size: 62.5%;
	font-family: 'PT Sans', sans-serif;
    color: #363639;
}

.container {
	padding: 0;
}

.inner-container {
	padding: 0 2rem 2rem 2rem;
}

#main-header.container {
	padding-left: 0;
}

.no-padding {
	padding-left: 0;
}

#header-container {
	margin-bottom: 1%;
}

#content-wrapper {
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
	min-height: 50rem;
	display: block;	
}

/*  typography  */

h1, h2, h3, h4, h5 , table tr th{
    color: #363639;
    font-family: 'PT Sans Narrow', sans-serif;
}

#login-intro, .narrow-font  {
	font-family: 'PT Sans Narrow', sans-serif;
}

h1 {
    font-size: 4.0rem;
    font-weight: 700;
}

h2 {
    font-size: 2.8rem;
    font-weight: 400;
}

h3 {
    font-size: 2.0rem;
}

h4 {
    font-size: 1.7rem;   
	font-weight: 700;
}

h5 {
    font-size: 1.5rem;   
	font-weight: 700;
}


div, p, span {
	font-size: 1.5rem;
}

p,span, .users, .byline {
    color: #363639;
}

a {
	color: #363639;
}

nav {
	overflow: hidden;
}

nav strong {
	text-transform: uppercase;
}

nav div.nav-inner-container {
	float: left;
}

label {
	margin-bottom: 0;
}

#millum-logo {
	/*width: 12rem;*/
	width: 100%;
}

.bold-font {
	font-weight: bold;
}

.rounded-btn, input.blue-bg {
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 400;
}

.relatively {
	position: relative;
}

.absolutely {
	position: absolute;
}

input[type=text] {
	background-color: #FBFBFB;
	border: 1px solid #ededed;
	min-height: 3.3rem;
}

.small-btn {
	padding: 0.5rem 1.5rem;
	width: auto;
}

.large-btn {
	padding: 1.1rem 3.3rem;
	width: auto;
}

/* MENU STUFF */
.welcome {
	font-family: 'PT Sans Narrow', sans-serif;
	height: 6rem;
	padding: 1rem 0 1rem 0;
	text-align: center;
	width: 12rem;
	margin: 0 3rem 0 2rem;
}

.welcome-pos-txt {
	top: 0.5rem;
	left: 10px;
	font-size: 1.4rem;
}

#main-menu.container {
	padding:0;
}


#middle {
	background-color: #fff;
	clear: both;
	margin-top: 1em;
	min-height: 40rem;
	overflow: auto;
	padding: 1.5em;
}

#middle h1 {
	text-transform: uppercase;
	margin: 1em 0 0 0;
}

.millum-inner-container img {
	width: 100%;
}

.millum-inner-container {
	padding: 0rem 0;
}

.capitalize {
	text-transform: uppercase;
}

.middle-menu {
	font-size: 1.5rem;
	text-align: center;
	height: 4rem;
	padding-top: 1.0rem;
}

.left-2-col {
	float: left;
	width: 67%;
}

.right-1-col {
	float: right;
	width: 33%;
}

/*  right col stuff */

.additional-container {
	padding: 1.5rem 1.5rem 0 1.5rem; 
}
.additional-container h4 {
	margin-top: 1rem;
}

.additional-container h4, .additional-container p {
	padding-left: 1rem;
}

.additional-container img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.nav-1 {
	width: 25%;
}

.nav-2 {
	width: 50%;
}

.nav-3 {
	width: 25%;
}

/* blue box */
#nav-contact {
    width: 100%;
    float: right;
    font-weight: 400;
    margin-right: 1.0em;
    margin-top: 1.0em;
    font-family: 'PT Sans Narrow', sans-serif;

}

.left-half-top-triangle-blue {
    display: block;
    height: 0;
    width: 0;
    border-top: 0.7em solid #00a0ff;
    border-right: 0.9em solid transparent;
}

.left-half-top-triangle-graphite {
    display: block;
    height: 0;
    width: 0;
    border-top: 0.7em solid #424445;
    border-right: 0.9em solid transparent;
}

.left-half-top-triangle-graphite:hover { 
	border-top: 0.7em solid #00a0ff;
}

.left-half-top-triangle-warm-gray {
    display: block;
    height: 0;
    width: 0;
    border-top: 0.7em solid #a19c96;
    border-right: 0.9em solid transparent;
}


.down-triangle-graphite {
	display: block;
    height: 0;
    width: 0;
    border-top: 0.3em solid #424445;
    border-right: 0.3em solid transparent;
	border-left: 0.3em solid transparent;
}

th:hover .down-triangle-graphite, th:hover .down-triangle-white {
	border-top: 0.3em solid #00a0ff;
}

.up-triangle-graphite {
	display: block;
    height: 0;
    width: 0;
    border-bottom: 0.3em solid #424445;
    border-right: 0.3em solid transparent;
	border-left: 0.3em solid transparent;
}


th:hover .up-triangle-graphite {
	border-bottom: 0.3em solid #00a0ff;
}

.down-triangle-white {
	display: block;
    height: 0;
    width: 0;
    border-top: 0.3em solid #fff;
    border-right: 0.3em solid transparent;
	border-left: 0.3em solid transparent;
}

.up-triangle-white {
	display: block;
    height: 0;
    width: 0;
    border-bottom: 0.3em solid #fff;
    border-right: 0.3em solid transparent;
	border-left: 0.3em solid transparent;
}

.up-triangle-green {
	display: block;
    height: 0;
    width: 0;
    border-bottom: 0.5em solid #41d705;
    border-right: 0.5em solid transparent;
	border-left: 0.5em solid transparent;
}

.down-triangle-red {
	display: block;
    height: 0;
    width: 0;
    border-top: 0.5em solid red;
    border-right: 0.5em solid transparent;
	border-left: 0.5em solid transparent;
}

.down-triangle-orange {
	display: block;
    height: 0;
    width: 0;
    border-top: 0.5em solid #ec581e;
    border-right: 0.5em solid transparent;
	border-left: 0.5em solid transparent;
}


.red-bar {
	display: block;
	height: 1px;
	width: 15px;
	border-top: 0.25em solid red;
	border-bottom: 0.25rem solid red;
}


.orange-bar {
	display: block;
	height: 1px;
	width: 15px;
	border-top: 0.25em solid #ec581e;
	border-bottom: 0.25rem solid #ec581e;
}

.table-arrow-position {
  left: 10px;
  position: relative;
  top: 12px;
}

.pulldown-form-position {
	right: 10px;
  	position: relative;
  	top: 5px;
}

.floatct {
	overflow: hidden;
}

.box-container {
    position: relative;
}

.float-left {
	float:left;
}

.float-right {
	float:right;
}

.clearing {
	clear:both;
}

.contact-box {
    padding: 0;
    padding: 1.0em;
    overflow: hidden;
}

.contact-arrow-pos {
	position: relative;
	bottom: 0;
	left: 75%;
}

.large-contact-box-wrapper {
    margin-top: 3rem;
    padding: 1rem;
    width: 100%;
}    

.large-contact-box {
    padding: 0;
    font-size: 30px;
    overflow: hidden;
    padding: 1em 0em;
    width: 70%;
    margin: 0 auto;
}

.large-contact-box a {
    color: #fff;
    text-decoration: underline;
}

.large-box-container {
  min-height: 4em;
}

.blue-box {
    background-color: #00a0ff;
    color: #fff;
    text-align: center;
}

.progress-bar-info {
	color: #108BF5;
}

.gray-box, .warm-gray-box {
    background-color: #a09b96;
    color: #fff;
    text-align: center;
}

.graphite-box {
    background-color: #424445;
    color: #fff;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
}

.white-box {
    background-color: #424445;
    color: #fff;
    text-align: center;
}



/* custom divider with text */
.divider-bar-gray, .gray-bar-divider {
    background-color: #8E8983;
    color: #fff;
    padding: 0.2em 0em 0 0.5em;
    margin-bottom: 1em;
    font-size: 20px;
}

.radius-15 {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}


.light-gray-bg, .light-gray {
	background-color: #ededed;
}

.light-gray-container {
	background-color: #ededed;
	padding: 0 2rem 2rem 2rem;
	margin-top: 2rem;
}


#button-row .light-gray input{
	background-color: #a09b96;
}

.input-wrapper input {
	width: 12rem;
}

/* COLORS */
.white, .white-bg {
    background-color: #fff;
}

.graphite, .graphite-bg {
	background-color: #424445;
}

.blue, .blue-bg {
	background-color:  #00a0ff;
}

.orange-bg {
	background-color: #ec581e;
}

.warm-gray-bg {
	background-color: #A09B96;
}

.white-txt {
	color:  #fff;
}

.green-txt {
	color: #41d705;
}

.blue-txt {
	color: #108BF5;
}

.blue-txt:hover {
	cursor: pointer;
	text-decoration: underline;
	opacity: 0.9;
}

.orange-txt {
	color: #ec581e;
}

.green-border {
	border: 2px solid #41d705;
}

.red-border {
	border: 2px solid red;
}

.red-txt {
	color: red;
}

.black-txt {
	color: #000;
} 

.fade {
	opacity: 0.5;
}

.block-el {
	display: block;
}


/*  SUPPORT BRACKET */

#support-bracket {
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#support-bracket .inner-container {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


/*  FORM  */
#loginform {
	background-color: #ededed;
	overflow: hidden;
	padding: 2rem 2rem 3rem 2rem;
}

#loginform h2,  {
	font-weight: 700;
	margin-bottom: 2rem;
}

 #overview-container h2 {
	font-weight: bold;
}
#loginform h3 {

	font-weight: bold;
	margin-top: 0rem;
	margin-bottom: 3rem;

}

#loginform input{
	margin-right: 0.5rem;
	padding: 5px 0;
	width: 100%;
}

#loginform label{
	display: block;
	font-size: 1.5rem;
	font-weight: normal;
}

#invoice-data label {
	font-weight: normal;
}

#loginform strong {
	
	font-size: 1.5rem;
}

#login-intro {
	font-size: 2.5rem;
}

.formrow {
	clear:both;
	display: block;
}

.helptext {
	float: left;
	margin-left: 3em;
}

/*input[type=submit] {
    border: none;
	background-color: #1372EF;
	clear:both;
	color: #fff;
	padding: 1.0rem 1.2rem;
} */

#loginform input[type=submit]{
	width: 12rem;
	margin-top: 5rem;
	padding: 1rem;
	font-size: 1.5rem;
}

.captcha-container {
	float:left;
	margin-bottom: 4rem;
}

.captcha-container input {
	margin-bottom: 0.5rem;
}

#simplecaptcha {
	background-color: #a09b96;
	/*clear: both;*/
	font-size: 1.2rem;
	font-weight: 700;
	padding: 0.8rem;
	margin-top: 0.5rem;
	text-align: center;
	
	/*width: 18rem;*/
	
}


/************************************

		OVERSIKT, ORDRE

*************************************/


#commerce-main {
	margin-top: 2rem;
}

.warehouse-item {
	background-color: #fff;
	min-height: 12rem;
	overflow: hidden;
	width: 31%;
	padding-bottom: 1rem;
	margin: 1rem 1rem 0 0;
}

div#warehouse-items + div.warehouse-item {
	clear: both;
}

.warehouse-item > div {
	/*padding: 1rem 1rem 0.5rem 1rem;*/
	padding: 1.5rem;
}

.warehouse-item  h4.box-header {
	/*height: 2rem;*/
	margin: 0;
	padding: 1.5rem;
	color: #fff;
}

.item-upper .blue-txt{
	/*height: 6rem;*/
	font-weight: 700;
}

.item-upper h4 {
	margin: 0;
	padding: 0;
	font-weight: 400;
}

h4.blue-txt {
	color: #00a0ff;
}

.completed {
	/*height: 2rem;*/
}

.percent-indicator { 
	/*color: #a19c96;*/
	color: #424445;
	font-size: 2.5rem;
	padding: 0.25rem 0;
}

.progress-bar-success {
	background-color:  #a19c96;
}

.slider-img-caption {
	top: 14rem;
	width: 100%;
	height: 3.6rem;
	background-color: #fff;
	opacity: 0.7;
	padding: 0.5rem 0 0 1rem;
	color: #000;
}

.item-login {
	/*height: 2rem;*/
	padding-bottom: 0.5rem
}

.item-login span {
	margin-right: 0.5rem;
}

.warehouse-item .progress {
	height: 0.75rem;
}

.quality .progress {
	height: 1.0rem;
}


.right-column-overview {
	/*width: 16rem;*/
}

ul#myTab li {
	background-color: #a09b96;
	width: 50%;
}

ul#myTab li.active {
	background-color: #fff;
}

ul#myTab li.active a {
	font-weight: 700;
}

#myTabContent {
	padding: 1rem;
}

.action-intro {
	margin-bottom: 1rem;
}

#new-catalogue {
	margin-bottom: 2.2rem;
}

.lower-part .light-gray-bg {
	min-height: 12rem;
}

#buttons {
	overflow: hidden;
}

#confirmed {

}

.confirm {
	font-size: 2.5rem;
	font-weight: 700;
}

.addendums span {
	padding: 0 1rem;
}



.stipled-h {
	border-bottom: 1px dotted #363639;
	padding-bottom: 0.5rem;	
}

#column-content {
	background-color: #fff;
	display: block;
	margin-top: 2rem;
}

#column-content-menu {
    background-color: #a09b96;
    /*background-color: #424445;*/
    height: 5rem;
    width: 100%;
    margin-bottom: 1rem;
}

#column-content-menu ul {
	display: inline;
	font-family: 'PT Sans Narrow', sans-serif;
	list-style: none;
	width: 100%;
}

#column-content-menu ul li {
	float: left;
	padding: 1.5rem 3.5rem 0rem 3.5rem;
	height: 5rem;
	position: relative;
}

#column-content-menu ul li.search-field {
	float:right;
	padding: 1.0rem 3.5rem 0rem 3.5rem;

}

.search-field input {
	height: 3rem;
	width: 17rem;
	color: #fff;
	background-color: #a09b96;
	border-top: 1px solid #a09b96;
	border-left: 1px solid #a09b96;
	border-right: 1px solid #a09b96;
	border-bottom: 2px solid #fff;
	padding-bottom: 4px;
}

.helpSearchTxt {
	opacity: 0.8;	
	font-style: italic; 
}

.searchTxt{
	opacity: 1.0;
	font-style: normal;
}

#column-content-menu ul li.selected-item {
	background-color: #fff;
}

#column-content-menu ul li.selected-item a{
	color: #000;
	font-weight: 700;
}

#column-content-menu ul li a{
	color: #fff;
	margin-top: 1rem;
	font-size: 1.5rem;
	margin-left: 0.5rem;
}

div#column-content-menu, #column-content-menu div {
    text-align: center;
}

.column-inner-wrapper {
	padding: 1rem 1rem 3rem 1.5rem;
}

#counter {
	
	font-size: 1.5rem;
    left: 0.6rem;
    position: absolute;
    top: -1rem;
}

.counter-box {
	background-color: #00a0ff;
	color: #fff;
	padding: 0.2rem 0.75rem;
}

table, table#order-table, table.invoice-tables, table.full-width {
	width: 100%;
}

.pseudo-row {
	background-color: #ededed;
	font-family: 'PT Sans Narrow', sans-serif;
	text-align: right;
	font-weight: 700;
	overflow: hidden;
	padding: 1.0rem;
}


table tr {
	line-height: 3rem;
	border-collapse: collapse;
	border-bottom: 1px solid #ededeb;
}

table#order-table th, table.invoice-tables th, table#order-table-static th, th{
	background-color: #ededed;
	padding: 0.5rem;
}

.warehouse-table tr th {
	background-color: #a09b96;
	color: #fff;
	padding: 1rem;
}

.warehouse-table tr td {
	background-color: #fff;
	color: #000;
	padding: 0.25rem 1rem;
}


table#order-table th, table#order-table td, table.invoice-tables td, table.invoice-tables th {
	text-align: center;
	padding: 0.5rem 0 0.25rem 2rem;
}

.widetext {
	width: 100%;
}

/*  ORDER */
.order-input {
	width: 100%;
}

.order-input input {
	width: 100%;
}

.order-input input[type=submit] {
    border: none;
	/*background-color: #a09b96;*/
}

.navigate-button {
	font-weight: 700;
	font-size: 1.2rem;
	font-family: 'PT Sans Narrow', sans-serif;
	overflow: hidden;
	padding: 0.5rem 1.75rem;
	text-transform: uppercase;
	min-width: 6rem;
}


/*  FORM */
#invoice-data input[type=submit], #loginform input[type=submit], #product-info-container #button-row input[type=submit], input[type=submit] {
  font-size: 1.5rem;
  height: auto;
  /*padding:1.1rem 3.3rem;*/
  text-transform: uppercase;
}

#product-info-container input[type=submit] {
	/*padding: 0.5rem;*/
	font-family: 'PT Sans Narrow', sans-serif;
}


#invoice-data input[type=submit], #loginform input[type=submit] {
	color: #fff;
	font-family: 'PT Sans Narrow', sans-serif;
	}

#summary .row {
	margin: 1rem 0;
}

/************************************

			INVOICE  FAKTURA

*************************************/

.recipient, .supplier {
	margin: 1rem 0;
}

#invoice-data input[type=number], #invoice-data input[type=date], input[type=number]{
	height: 3rem;
	background-color: #fbfbfb;
}

#invoice-data label {
	padding-bottom: 0.25rem;
}

.invoice-summary {
	font-weight: 700;
	margin-top: 2rem;
}


.invoice-summary a {
	font-weight: 400;
}

/************************************

		VAREKATALOG WAREHOUSE    

*************************************/

.horizontals {
	border-bottom: 1px solid #ededeb;
	border-top: 1px solid #ededeb;
}

#quality-reminder {
	margin-left: 1rem;
	width: 80%;
}

.overflow-hide {
	overflow:hidden;
}


/************************************

				HEADER    

*************************************/

nav h1 {
	margin-top: 3rem;
}

.menu-container {
    margin-top: 0;
    background-color: #363639;
    position: relative;
    padding: 1.3rem 0;
    width: 8rem;
}

.menu-container hr {
	border-top: 4px solid #EEEEEE;
    height: 0.5rem;
    margin: 0rem auto;
    width: 2.6rem;
	
}

#menu-box {
    
    float: right;
    font-size: 1rem;
    font-weight: 400;
    /*width: 4em;*/
}

.menu-box {
    color: #fff;
    text-align: center;
}

.left-menu-triangle {
    display: block;
    height: 0;
    width: 0;
    right: 0;
    top: 3.3em;
    border-top: 1.1em solid #323335;
    border-left: 4em solid transparent;
    position: absolute;
}

.right-menu-triangle {
    display: block;
    height: 0;
    width: 0;
    left: 0;
    top: 3.3em;
    border-top: 1.1em solid #323335;
    border-right: 4em solid transparent;
    position: absolute;
}

/************************************

				FOOTER    

*************************************/

#millum-footer {
	text-align: left;
}

#millum-footer ul{
	margin-left: 0;
	padding-left: 0;
}

footer {
    background-color: #333436;
    color: #fff;
    min-height: 5rem;
    padding: 3em 0;
    margin-top:3em;
}

footer h4 {
    font-size: 15px;
    color: #fff;
}

footer * a {
    color: #fff;
}

footer ul {
    list-style-type: none;
    margin-left: 0;
}


/*  SUPPORT BRACKET */
#support {
	margin-top: 4rem;
}

.header {
	font-family: 'PT Sans Narrow', sans-serif;
}
/******************************************/

.margin-zero, .margin-none {
	margin: 0;
}

/*   margins */

.margin-top-small {
	margin-top: 0.5rem;
}


.margin-top-1rem {
	margin-top: 1rem;
}

.margin-top-3rem {
	margin-top: 3rem;
}

.margin-top-35rem {
	margin-top: 3.5rem;
}

.margin-top-2rem {
	margin-top: 2rem;
}

.margin-top-4rem {
	margin-top: 4rem;
}

.margin-top-10rem {
	margin-top: 10rem;
}


.margin-bottom-2rem {
	margin-bottom: 2rem;
}

.margin-top-1rem {
	margin-top: 1rem;
}

.margin-left-1rem {
	margin-left:1rem;
}

.margin-left-2rem {
	margin-left:2rem;
}

.margin-right-1rem {
	margin-right:1rem;
}

.margin-right-3rem {
	margin-right:3rem;
}

.margin-right-2rem {
	margin-right:2rem;
}

.margin-1rem {
	margin: 1rem;
}

.padding-1rem {
	padding: 1rem;
}

.padding-2rem {
	padding: 2rem;
}

.padding-left-2rem {
	padding-left: 2rem;
}

.padding-sides-2rem {
	padding: 0 2rem;
}


.padding-top-1rem {
	padding: 1rem;
}

.padding-top-2rem {
	padding-top: 2rem;
}

.padding-bottom-2rem {
	padding-bottom: 2rem;
} 

.padding-bottom-3rem {
	padding-bottom: 3rem;
} 

.padding-right-1em {
	padding-right: 1rem;
}

.no-left-padding {
	padding-left: 0;
}

.txt-center {
	text-align: center;
}

.font-size-2rem {
	font-size: 2rem,
}

.font-size-2_5rem {
	font-size: 2.5rem;
}

.rem20-height {

	min-height: 20rem;
}

/* circle */

.circle-text {
    width:3.0rem;
    font-weight: 700;
}

.circle-text:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    background: #41d705; 
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
}

.circle-text div {
    float:left;
    font-size: 2rem;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:white;
}


form.category-form input {
	height: 3.5rem;	
	margin-bottom: 0.5rem;
	width: 60%;

}

form.category-form input[type=submit]{
	height: 3.5rem;	
	margin: 0 0 0.5rem 1rem;
	padding: 0.5rem 1rem;
	width: auto;
}

input[type=submit] {
	width: auto;
	border: none;
}

input[type=submit]:hover {
	opacity:0.85;
}

form.save-action {
	background-color: #fff;
}

form.category-form span {
	margin-left: 1rem;
}

div.page-action {
	margin: 3rem 0;
}

#main-action form input {
	margin: 0;
	padding: 0;
}

#search-action input {
	/*height: 3.5rem;*/
	width: 25%;
	margin-right: 1rem;
}

#search-action input[type=submit] {
	width: auto;
}	

.custom-search-field {
	height: 4.4rem;
}

.search-result {
	margin: 4rem 0 2rem 0;
}

.product-img-container {
	border: 1px solid #a09b96;
}



.product-img-container img {
	display: block;
	margin: 0 auto;
	padding: 3rem;
}

#product-item-form label {
	margin-top: 1.5rem;
	font-weight: 400;
}

label#upper-label {
	margin: 0;
}

#additional-product-item-form input[type=text] {
	background-color: #f7f7f9;
}

#product-item-form select, #additional-product-item-form select { 
	background-color: #e6e4e2;
	font-weight: bold;
}

#additional-product-item-form .row {
	margin-bottom: 2rem;
}

#button-row * div {
	float: right;
	margin-left: 1rem;
	width: 15rem;
}

#button-row div input {
	font-size: 1.5rem;
	margin: 0;
	padding: 1.5rem 3rem;
	width: 100%;
}

.small-circle {
    width: 10px;
    height:10px;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
    background: #41d705; 
}

.inside-circle {
	margin-top: 0.35rem;
	margin-right: 1rem;
}

.info-explantion {
	margin-bottom: 1rem;
	overflow: hidden;
}

.info-explantion div:first-child {
	margin-right: 1rem;
	margin-top: 0.5rem;
}

.no-margin {
	margin: 0;
}

#additional-product-item-form select.form-control-radical {
    padding-right: 10px!important;
}

#additional-product-item-form select.form-control-radical:invalid {
    background-image: radial-gradient(#129923 6px, transparent 7px);
    background-position: right 3rem center;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    width: 100%;
}

.rectangle {
	padding: 0.2rem;
}

.rectangle-small {
	padding: 0.5rem 1.0rem;
}

.rectangle-large {
	padding: 1.1rem 3.3rem;
}

textarea {
	background-color: #FBFBFB;
}

table .rectangle {
	width: 9rem;
	height: 3.2rem;
	display:block;
	margin: 0 auto;
}

table .rectangle:hover {

	background-color: #00a0ff;
}

.smallest-icon {
	width: 1.5rem;
}


.small-icon {
	width: 2.0rem;
}

.icon-adjustment {
	position: absolute;
	margin-left: 10px;
	top: 1.4rem;
}

.icon-adjustment a {
	text-decoration: underline;
}

.font-20 {
	font-size: 2.0rem;
}

.font-25 {
	font-size: 2.5rem;
}

#order-table input, #order-table-static input {
	background-color: #FBFBFB;
	float:left;
	margin-right: 1.5rem;
	width: 9rem;
}

#order-table th:hover {
	cursor: pointer;
}

#order-table-static th:hover {
	cursor: auto;
}

.width-50 {
	width: 50%;
}

.auto-width {
	width: auto;
}

.no-show {
	display:none;
}

.warehouse-stats {
	text-decoration: underline;
	float:right;
	clear: right;
}

.statistics {
	background-color: #ededeb;
	padding: 1rem;
	min-height: 12rem;
	clear: both;
	margin-top: 3rem;
}

/* this class is for sorting with symbols in a tablesorter instance. Place numbers inside the span and then hide it with this class, and the table will sort correctly. */
.table-sorter-index {
	visibility: hidden;
}

.pulldown-menu {
	background-color: #e6e4e2;
	height: 4rem;
	border: 1px solid #a09b96;
	padding: 1rem;
}

.expand-box {
	padding: 1rem;
	border: 1px solid #ebebeb;
	overflow: hidden;
}

.expand-form label {
	width: 40%;
}

.labeling-form label {
	margin-left: 1rem;
	font-weight: 400;
}


th.header:hover, a:hover {
	color: #00a0ff;
}


a:hover { 
	text-decoration: none;
}


#confirm-order:hover {
	background-color: #00a0ff;
}

.warm-gray-border {
	border: 1px solid #e6e4e2;
}

#search-invoice-field {
	height: 4.3rem;
	border: 1px solid #ededed;
}

.progress-bar-info-blue , .progress-bar {
	color: #108BF5;
}

.blue-progress-bar {
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	background-color: #108BF5;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	-webkit-transition: width .6s ease;
	transition: width .6s ease;
}

.floated-header {
	width: auto;
	margin-right: 2rem;
	float:left;
	margin-top: 0;
}

.header-container {
	overflow: hidden;
}

.underlined {
	text-decoration: underline;
}

.full-width {
	width: 100%;
}

#campaign-form input[type=textarea] {
	height:12rem;
	background-color: #FBFBFB;
}

#campaign-form input[type=textarea] {
	height:6rem;
}

.product-img-container:hover .edit-img h4, .product-img-container:hover .edit-img ul {
	display:block;
}

.edit-img  {
	position: absolute;
	top: 18rem;
	left: 35%;
	
}

.edit-img h4 {
	display:none;
}


.edit-img ul {
	display: none;
}

.modal-content {
	padding: 4rem;
}

.third-width {
	width: 38%;
}

.btn-height {
	height: 4.2rem;
	border-radius: 0;
}

.dropdown-toggle{
	border-radius: 0;
	border: 1px solid #ededed;
}


#warehouse-stock .upload-btn, #warehouse-stock .save-btn {
	margin: 1rem 0 0 0;
	width: 50%;
}

#warehouse-stock .search-img-btn {
	width: 40%;
}

.desc-textarea {
	width: 100%;
	height: 13rem;
	background-color: #FBFBFB;
}

.gray-prevnext {
	padding: 0.5rem 1rem;
	background-color: #ededeb;
	clear: both;
	margin-top: 2rem;
}

.customers {
	top: 0rem;
	left: 7rem;
	padding: 1rem;
	background-color: #fff;
	border: 1px solid #000;
	visibility: hidden;
}

.customers ul {
	list-style-type: none;
	padding: 0;
}

.cust-ctn:hover .customers {
	visibility: visible;
}

.navigate-button:hover {
	color: #00a0ff;
}

.float-container {
	overflow: hidden;
}

.no-margin-top {
	margin-top: 0;
}

.received {
	width: 2.0rem;
	margin-top: 0.25rem;
}

.blue-dot {
	width: 2.0rem;
	/*margin-top: 0.25rem;*/
}

.ok-arrow {
	width: 2.5rem;
	margin: 0 0.5rem 0.75rem 0;
}

.nav-tabs>li>a {
	border-radius: 0;
}

.nav-tabs>li.active>a {
	background-color: #ededed;
}

#invoiceContent input[type=submit]{
	padding: 0.7rem 3.3rem;
}

#catalogue-quality {
	margin-top: 5.5rem;
}

.form-control {
	display: block;
	width: 100%;
	/* height: 34px; */
	padding: 6px 12px;
	/* font-size: 14px; */
	/* line-height: 1.42857143; */
	/* color: #555; */
	 background-color: #FBFBFB;
	background-image: none;
	border: 1px solid #ededed;
	 border-radius: 0px; 
	/* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); */
	 box-shadow: none; 
	/* -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; */
	/* transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; */
}

textarea.form-control {
	background-color: #FBFBFB;
}

.log-in-img {
	width: 10rem;
}

input[type=checkbox] {
	margin-right:1rem;
}

.confirm-order-container {
	border: 1px solid #cdc8be;
	padding: 1rem;
	background-color: #ededed;
}
