
/*

Hovedfarger:
Blå #00a0ff
Grafitt #363639
Lysgrå #ededeb
Varm mellomgrå #e6e4e2

Komplement:
Varm mørkgrå #a09b96
Grønn #41d705
Oransje #ec581e

/*
Størrelser og type:
Alle overskrifter/ All h-elements: PT SANS Narrow  + teksten i grå bokser og blå bokser, skal også være narrow
All other text/brødtekst og alt annet: PT SANS (regular)


body base: 16px
hovedfarge mørk font: #363639;

H1: 40px (ikke pt som på skissen)
H2: 28px 
H3: 20px
H4: 17px

p

*/



body {
    
    background-image: url(https://raw.github.com/subtlepatterns/SubtlePatterns/gh-pages/lghtmesh.png);
    /*background: 0 color-stop(100%,rgba(255,255,255,0.5))), url(https://raw.github.com/subtlepatterns/SubtlePatterns/gh-pages/lghtmesh.png) repeat 0 0;*/
    font-family: 'PT Sans', sans-serif;
    font-size: 100.0%;
    color: #363639;
}

h1, h2, h3, h4, ul#template-changer li a, .large-contact-box {
    color: #363639;
    font-family: 'PT Sans Narrow', sans-serif;
}

 #nav-contact, #nav-contact div, #login-box div  {
    font-family: 'PT Sans Narrow', sans-serif;
    color: #fff;
 }

p, div, span  {
    color: #363639;
    font-family: 'PT Sans', sans-serif;
    line-height: 1.5; /* warning: changing this will affect the header elements, need to make them more robust later */;
}

.white-bg {
    background-color: #fff;
}


#template-wrapper, #product-wrapper div:first-child, #contact-wrapper div:first-child, #article-wrapper div:first-child, #reference-wrapper div:first-child {
    background-color: #fff;
}

.active img {
    opacity: 0.5;
}

/**************/
/* typography */
/**************/

h1,h2, h3, h4 , #login-box{
    font-weight: 700;    
    font-family: 'PT Sans Narrow', sans-serif;
}

h1 {
    /*font-size: 40px;*/
    font-size: 2.5rem;
}

h2 {
    /*font-size: 28px;*/
    font-size: 1.72rem;
    font-weight: 400;
}

h3 {
    /*font-size: 20px;*/
    font-size: 1.25rem;
}

h4 {
    /*font-size: 16px;*/
    font-size: 1.0rem;   
}

#tiny-container {
        margin-top: 1%;
    }


@media only screen 
and (max-width : 768px) {

    .image {
        /*min-height: 10.0rem;*/
        margin-bottom: 1%;
    }

    #fp-second-row {
        margin-top: 1%;
    }


    .large-contact-box {
        width: 100%;
        padding: 1%;
    }

    .white-bg {
        background: none!important;
    }

    #content-wrapper {
        padding: 0;
    }

    #fp-first-row {
        background-color: #fff;
        margin-top: 1rem;
        padding-bottom: 1rem
    }

    #fp-first-row img  {
        margin-bottom: 0rem;
        margin-top: 1rem;
    }
    
    .mobile-text img {
        padding: 0 0 1rem 0;
    }

    .mobile-text h1, .mobile-text h2, .mobile-text p {
        padding: 0 1rem;
    }

    #fp-second-row .small-12 {
        background-color: #fff;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
    }

    #top-level-section h1, #article-top-level-section h1 {
        margin-top: 1rem;
    }

    #millum-footer .small-12 {
        text-align: left;
    }


   /* #fp-second-row .small-12:first-child {
        padding-top: 1.0rem;
    }

    #fp-second-row .small-12:last-child {
        padding-bottom: 1.0rem;
    }
*/

    .large-contact-box-wrapper {
        width: 100%;
    }    

    .top-img-container {
      padding: 1em;
      margin-bottom: 0em;
    }

    
    .mobile-tinyslides {
        background-color: #fff;
        padding: 1rem;
        margin: 1rem 0;
    }

    .mobile-tinyslides h3 {
        border-top: 1px solid #a09b96;
        padding-top: 1rem;
        font-size: 1rem;
        color: #a09b96;
    }

    .mobile-tinyslides .columns{
        padding: 0;
    }

    .mobile-tinyslides hr {
        padding: 0 1rem;
        width: 100%;
        margin: 0;
        color: #a09b96;
        border-bottom: 1px solid;
    }

    #millum-footer div {
        padding-left: 1rem;
    }

    .slider { margin: 0.25rem 1.5rem 0 1.5rem;}
    .slider .viewport   { width: 6rem; height: 6rem; }
    .slider .overview  { width: 6rem; }
    .slider .overview li  { height: 6rem; width: 6rem; }

    .description-element img {
        margin-top: 1.5rem;
    }


}

/* ipad sizes  */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

    #content-wrapper {
        padding-top: 1rem;
    }

    .large-contact-box-wrapper {
        width: 80%;
    }    

.description-element img {
        margin-top: 4.5rem;
    }
    
    .slider { margin: 0.25rem 1.5rem 0 1.5rem;}
    .slider .viewport   { width: 4rem; height: 4rem; }
    .slider .overview  { width: 4rem; }
    .slider .overview li  { height: 4rem; width: 4rem; }
    
    #product-wrapper, #content-wrapper, #reference-content {
        padding: 2% 0;
        overflow: hidden;
    }

}


@media only screen 
and (min-width : 1025px) {

    .image {
        min-height: 16.1rem;  /* this is fragile, and if removed, will result in the images in the second row to disappear, because of the overflow hidden */ 
    }

    #product-wrapper, #content-wrapper, #reference-content {
        padding: 2% 0;
        overflow: hidden;
    }

    #fp-first-row img  {
      /*margin-bottom: 1em;
      margin-top: 2em;*/
    }

    /* NB: This is a bit tricky... should not use or mobile, need other layout solutions */
    .padding-sides-1em {
        padding: 0 1em;
    }

    .padding-top-1em {
        padding-top:1em;
    }

    .padding-top-2em {
        padding-top:2em;
    }

    .padding-bottom-2em {
        padding-bottom:2em;
    }

    #product-template {
        margin-bottom: 3em;
    }

    .full-width-container {
        padding: 1.0rem 0;
    }

    .large-contact-box {
        padding: 0;
        font-size: 30px;
        overflow: hidden;
        padding: 1em 0em;
        width: 100%;
        margin: 0 auto;
    }

    #top-level-section, #article-top-level-section {
        margin-bottom: 0em;
        padding-bottom: 2em;
    }

    form#contact-form {
        margin-bottom: 100px;
    }

    #top-level-section h2, #article-top-level-section h2 {
        margin-bottom: 1em;
    }

    #top-level-section p:last-child {
        margin-bottom: 2.5rem;
    }

    #top-level-section h1, #article-top-level-section h1 {
        margin: 0;
        line-height: 1.0;
    }

    .top-img-container {
      padding: 1em;
      margin-bottom: 3em;
    }


    #personal-contact-wrapper {
        padding: 0 0 2em 1em;
        margin: 1em auto;
    }

    #millum-footer div {
        padding-left: 3rem;
    }

    .description-content {
        border-bottom: 1px solid #ededeb;
        margin-bottom: 3em;
        padding-bottom: 2em;
    }

    .description-element img {
        margin-top: 4.5em;
    }

    #product-wrapper div:first-child {
/*        padding-top: 0.25rem;*/
    }

    .slider {margin: 0 0 0 3.25rem; }
    .slider .viewport   { width: 3.5rem; height: 3.5rem; }
    .slider .overview  { width: 3.5rem; }
    .slider .overview li  { height: 3.5rem; width: 3.5rem; }


}


/* paddings and margins */

/* NB! This style for .row is an override of the Foundation .row style, which governs the entire responsive grid */
.row {
    max-width: 72.5rem;
}

.bottom-margin-1em {
    margin-bottom: 1em;
}

.contact {
    padding: 1em;
}

.contact p {
    margin: 1em 0;
}

.contact div {
    margin: .5em 0;
}

.additional-container {
    padding: 1em 1em .5em;
    margin: .5em auto;
}

.additional-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

.additional-container p,.additional-container h4 {
    padding: 0 0em;
    margin: 0;
}

#slideshow-section {
    border-bottom: 1px solid #C4C3BE;
    margin-bottom: 3em;
    padding-bottom: 2em;
    overflow: hidden;
}

/* the orbit slideris native to foundation - further customising will override native styles */
.orbit-thumbs {
    margin-top: .75em;
}

div.img-wrapper {
    float: left;
/* important */
    position: relative;
/* important(so we can absolutely position the description div */
    width: 100%;
}

div.img-description-vertical {
    position: absolute;
/* absolute position (so we can position it where we want)*/
    top: 0;
/* position will be on bottom */
    left: 0;
    padding-right: 2em;
    height: 100%;
/* styling bellow */
    color: #FFF;
    /*font-size: 15px;*/
    font-size: 0.92rem;
    background-color: #8E8983;
    color: #363639;
    opacity: 1.0;
/* transparency */
    filter: alpha(opacity=60);
/* IE transparency */
    width: 50%;
}

p.img-description-content {
    color: #fff;
    font-size: 1.20rem;
    font-family: 'PT Sans Narrow', sans-serif;
    padding: .5em;
    margin: 0;
}




/*    positioning   */
.relative-div {
  position:relative;
}

.absolute-div {
  position:absolute;
}

/*  colors */
.blue-color {
    color: #44A5DB;
}

.bg-white {
    background-color: #fff;
}

.mobile-menu {
    background-color: #323335;
}

#mobile-menu img {
    max-width: 80%;
}

/* used primarily for floating menu */
.blue-borders {
    border-bottom: 4px solid #44A5DB !important;
    border-top: 2px solid #44A5DB !important;
}

/* custom divider with text */
.divider-bar-gray, .gray-bar-divider, #product-wrapper div.divider-bar-gray, #contact-wrapper div.gray-bar-divider {
    background-color: #8E8983;
    color: #fff;
    padding: 0.2em 0em 0 0.5em;
    margin: 1em 0;
    font-size: 20px;
}

/*   border radii - think we landed on using 15px for the blue boxes.  */
.radius-10 {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.radius-15 {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.radius-20 {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.radius-30 {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}


/*****************************

   boxes for top MENU and HEADER styles

*****************************/

nav ul {
    list-style-type: none;
}

nav ul li {
    float: left;
    width: 10rem;
    padding-top: 1rem;
    padding-bottom: 0.75rem;
}

nav ul li.selected-item span {
    padding: 1em 1em .5em;
}

#millum-header {
    min-height: 5em;
    position: relative;
}

#template-changer a {
    /*font-size: 15px;*/
    font-size: 0.92rem;
    font-weight: 400;
    color: #363639;
}

#template-changer #narrow-menu-list li {
    text-align: left;
}

#template-changer .selected-item {
  background-color: #8E8983;
}

#template-changer .selected-item a {
  color: #fff;
  font-weight: bold;
}

.menu-20 .menu-text {
    padding-bottom: 10px;
    padding-top: 20px;
    border-bottom: 4px solid #fff;
    border-top: 2px solid #000;
}

#floating-menu .menu-20 {
    float: left;
    width: 20%;
    padding: 1em 1em;
}

#nav-contact {
    width: 10em;
    float: right;
    font-weight: 400;
    margin-right: 1.0em;
    margin-top: 1.0em;
}

.left-half-top-triangle {
    display: block;
    height: 0;
    width: 0;
    border-top: 0.7em solid #108BF5;
    border-right: 0.9em solid transparent;
}

.box-container {
    position: relative;
    float:left;
}

.large-box-container {
  min-height: 4em;
}

.blue-box {
    background-color: #108BF5;
    color: #fff;
    text-align: center;
    padding: 1rem 1.75rem;
}

.absolutely-contact {
    position: absolute;
    top: 0;
}

.contact-arrow-pos {
    position: relative;
    bottom: 0;
    left: 75%;
}

.contact-box {
    padding: 0;
    line-height: 3em;
    overflow: hidden;
}

.large-contact-box-wrapper {
    padding: 1rem;
}    


.large-contact-box a {
    color: #fff;
    text-decoration: underline;
}

.margin-bottom-2em {
  margin-bottom: 2em;
}

.margin-bottom-3em {
  margin-bottom: 3em;
}

.logo-box {
    font-size: 28px;
    overflow: hidden;
    line-height: 2.7em;
}

.logo-box-mobile {
    font-size: 1.5em;
    overflow: hidden;
    padding: .25em 0;
  width: 85%;
  float: left;
}

.login-container {
    display:none; /* removed for now, to be decided */
    clear: both;
    margin-top: 0;
    background-color: #363639;
    position: relative;
    padding: 1.25em 0;
}

#login-box {
    
    float: right;
    font-size: 0.94rem;
    font-weight: 400;
    width: 8em;
}

.login-box {
    color: #fff;
    text-align: center;
}


/* the down pointing arrows (left and right) for the login-box - regulate height and width with border-top and border-left */
.left-login-triangle {
    display: block;
    height: 0;
    width: 0;
    right: 0;
    top: 4.3em;
    border-top: 1.1em solid #323335;
    border-left: 4em solid transparent;
    position: absolute;
}

.right-login-triangle {
    display: block;
    height: 0;
    width: 0;
    left: 0;
    top: 4.3em;
    border-top: 1.1em solid #323335;
    border-right: 4em solid transparent;
    position: absolute;
}

#millum-logo {
    /*width: 20%; */
    width: 232px;   /* if need avoid the image scaling when resizing, use this instead */
}

#millum-logo img {
 width: auto;
}

#template-changer {
    height: 6em;
    padding:  0 0;
    float:left;
    margin: 0;
}

ul#template-changer li {
    background-color: #FFFFFF;
    margin-right: 1px;
    padding: 1.65em 0;
    text-align: center;
}

#narrow-menu-list li {
    margin-left: 0;
}

/* 
    the mobile menu 
        - this menu is visible on small screens only 
*/

#mobile-menu-header-row {
    width: 100%;
}

#mobile-menu {
    background-color: #323335;
    color: #fff;
    font-size: 1.5em;
    margin-left: 0;
    padding-left: 0;
}

#mobile-menu ul {
  clear: both;
    margin: 0;
}

#mobile-menu li,li.mobile-border h2 {
    float: none;
    border-bottom: 1px solid #483C32;
    width: 100%;
}

#mobile-menu li:last-child {
    border: none;
}

#mobile-menu li h2 {
    /*padding-left: 0.75rem;*/

    font-size: 1em;
    color: #fff;
    margin: 0;
}

#mobile-menu li a {
    padding-left: 4em;
    color: #fff;
}

#mobile-expand-menu {
  display: none;
}

#expand-menu-button {
  height: 2rem;
  width: 2.3rem;
  border: 0px solid #000;
  float: right;
  margin-top: 7%;
}

#expand-menu-button hr {
    height: 3px;
    margin: 20% 0 0 10%;
    width: 80%;
    background-color: #fff;
}

/********************************************************
                      
                      FLOATING MENU 

********************************************************/
#nav-container {
    position: relative;
}

#floating-menu {
    background-color: none;
    padding: 0;
    position: absolute;
    top: 6em;
/* this is equal to the height of the nav-container - will have to add a little for the down arrow */
    left: 0;
    z-index: 99999;
    display: none;
}

#floating-menu h3 {
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 15px;
}

#floating-menu-narrow h3 {
    font-size: 15px;
    font-weight: 400;
    margin: 0 0 0 5%;
    border-bottom: 1px solid #44A5DB;
    width: 90%;
    padding: 1px 0 10px;
}

ul#floating-menu-narrow li {
    border-bottom: 3px solid #fff;
    display: block;
    padding-left: 0;
}

#floating-menu-narrow h3:hover {
    color: #44A5DB;
    border-bottom: 3px solid #44A5DB;
}

.inner-container {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: auto;
}

.no-padding {
    padding: 0!important;
}

.inner-container p {
    line-height: 1.3;
    font-size: 13px;
}

.shadow-container {
    -webkit-box-shadow: 2px 2px 15px 5px rgba(150,150,150,0.35);
    -moz-box-shadow: 2px 2px 15px 5px rgba(150,150,150,0.35);
    box-shadow: 2px 2px 15px 5px rgba(150,150,150,0.35);
    min-height: 196px;
}

#floating-menu-narrow {
    background-color: #fff;
    display: none;
    padding: 2em 1.5em;
    position: absolute;
    top: 6.0em;
    z-index: 999999;
}

#floating-menu-narrow ul {
    list-style-type: none;
    margin:0;
}

ul#narrow-menu-list li {
    float: none;
    padding: 5px 0 !important;
    text-align: left;
    width: 13em;
}

/***********************************************************
 
    FOOTER  styles
 
 ***********************************************************/

footer {
    background-color: #333436;
    color: #fff;
    min-height: 5rem;
    padding: 1% 0;
    margin-top:2%;
}

footer h4 {
    font-size: 15px;
    color: #fff;
}

footer * a {
    color: #fff;
}

footer ul {
    list-style-type: none;
    margin-left: 0;
}


#millum-footer .large-4 {
    padding-left: 10%;  
}

#millum-footer .medium-4 {
    padding-left: 10%;
}

#millum-footer h4 {
    font-size: 0.94rem;
    font-weight: 400;
}

#millum-footer li {
    font-size: 0.75rem;
    color: #fff;
}


/***********************************************************
 
    FRONTPAGE  styles
 
 ***********************************************************/

#fp-second-row {
    margin-top: 5%;
}


.relatively {
    position: relative; 
}

.image {
    float: left;
    /*overflow: hidden;*/
    width: 100%;
    cursor:pointer;
}



.movehorizontal {
    position: relative;
    overflow: hidden;
}

/* text to overlay the second row images - this text follows the image on hover, easing out */
.second-row-inner-container .overlay-imgtxt {
    position: absolute;
    left: 0;
    color: #fff;
    font-size: 1rem;
    padding: 2rem;
    top: 0rem;
    z-index: 800;
    width: 70%;
    -webkit-transition: left ease 2s;
    transition: left ease 2s;
}

.movehorizontal img {
  left:0;
  top:0;
  width: 100%;
  z-index: 500;  
  margin-left: 0;
/*  position: absolute;*/
  /*-webkit-transition: margin 1s ease-out;*/
     /*-moz-transition: margin 4s ease;
       -o-transition: margin 1s ease-out;
      -ms-transition: margin 1s ease-out;*/
          /*transition: margin 1s ease-out;*/
    -webkit-transition: all ease-out 2s;      
    transition: left ease 2s;

}

/* Hover effect for desktops and laptops only  */
@media only screen 
and (min-width : 1080px) {

    .movehorizontal img {
        position: absolute;
    }

    .movehorizontal:hover img {
        left: 850px;
    }

    .movehorizontal:hover .overlay-imgtxt {
        left: 850px;
    }
}

.textBox {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    padding: 1%;
    background-color: #a09b96;
    color: #fff;
    /*height: 246px;
    width: 325px;*/
    width: 100%;
    height: 100%;
}


#frontpage-large-img-container {
    /*padding: 0 0.7rem 0 0rem;*/
}

#frontpage-right-container {
    background-color: #a09b96;
    /*max-width: 22em;
    min-height: 22em;*/
    /*min-height: 22rem;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#frontpage-right-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1%;
  width: 25%;
}

#frontpage-right-container .counter {
  color: #fff;
  font-size: 2.75rem;
  font-weight: bold;
  padding-top: 0rem;
  text-align: center; 
}

@media only screen 
and (max-width : 980px) {

    #frontpage-right-container .counter {
        font-size: 1.75rem;
    }
}


#frontpage-right-container .description {
    padding: 1rem;
    color: #fff;
    font-size: 1rem;
}


/* 
   custom style: spinner container testing
 */

 .tinyslideshows {
    float:left;
    margin-right: 1%;
 }
 
#reference-element {
    padding-top: 1%;
}

.logo-container {
    border-top: 1px solid #a09b96;
    border-bottom: 1px solid #a09b96;
    overflow: hidden;
    padding: 2% 0;
    margin: 2% 0;
}

.logo-container img {
    /*width: 48px;
    margin-right: 3.5em;*/
    width: 100%;
    margin-right: 2%;
    clear: both;
}

#slider5 img {
    margin: 0;
    padding: 0;
}

.slider  { height: 1%; overflow:hidden; padding: 0 0 0.7rem;  }
.slider .viewport   { overflow: hidden; position: relative; }
.slider .disable { visibility: hidden; }
.slider .overview  { list-style: none; position: absolute;  left: 0 top: 0; }
slider .overview li  { float: left; margin: 0 1.25rem 0 0; padding: 1px; border: 1px solid #dcdcdc; }
.viewport ul {
  margin-left: 0;
}

/*
    custom style: transparent polygon image overlay for frontpage images.
 */

.overlay-container {
    /*width: 700px;
    height: 390px;*/


    background-color: #fff;
    position: relative;
    overflow: hidden;
}

.overlay-container img {
    /*width: 700px;
    height: 390px;*/
    width: 100%;


}


#overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.97;
}

#textBox {
    position: absolute;
    top: 2em;
    left: 2em;
    color: #363639;
    font-weight: bold;
    padding: 0.1em;
    width: 57%;
    z-index: 1000;
}

#textBox h1 {
    text-transform: uppercase;
}

#textBox h2 {
    font-weight: 400;
}

#textBox p {
    font-size: 1.08rem;
}


.overlay-container-small {
    width: 300px; /* redo in rems */
    height: 196px;
    background-color: white;
    position: relative;
    overflow: hidden;
}

.overlay-container-small img {
    width: 295px;  /* redo in rems */
    height: 196px;
}

.overlayTextBox {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #ccc;
    font-weight: bold;
    font-size: 20px;
    font-family:arial;
    padding: 2em;
    width: 40%;
    z-index: 1000;
}


.left-menuitem-triangle {
    display: block;
    height: 0;
    width: 0;
    right: 0;
    top: 3.1rem;
    border-top: 1.0rem solid #8E8983;
    border-right: 5.1rem solid transparent;
    position: absolute; 
    padding: 0!important;
  display: none;
}

.right-menuitem-triangle {
    display: block;
    height: 0;
    width: 0;
    left: 0;
    top: 3.1rem;
    border-top: 1.0rem solid #8E8983;
    border-left: 5.1rem solid transparent;
    position: absolute; 
    padding: 0!important;
    display: none;
}

.selected-item .right-menuitem-triangle, .selected-item .left-menuitem-triangle  {
  display: block;
  border-bottom: none;

}





/*********************************************************

      SKJEMA/FORM STYLES

*********************************************************/

input {
    box-shadow: none;
    -webkit-box-shadow: none;
}

input[type=submit] {
    border: none;
}

.contact-info {
    padding-left: 1em;
}

.contact-info h4, .contact h3 {
    margin: 0;
    text-transform:uppercase;
}

textarea {
    height: 120px;

}

.top-img-container img {
   display: block;
  margin-left: auto;
  margin-right: auto; 
}


form#contact-form input[type=submit] {
  background-color:#1372EF;
  color: #fff;
  font-size: 16px;
  float: right;
  padding:1.1rem 3.3rem;
}

form#contact-form input, form#contact-form textarea  {
  background-color:#F8F8F8;
 }

 /*********************************************************

      ABOUT MILLUM / REFERENCES STYLES

***********************************************************/


.half-width {
  padding: 0.1em 2.5em;
  line-height: 3em;
  overflow: hidden;
}

.byline {
  margin-bottom: 1em;
}
.reference-element  {
    padding-bottom: 3em;
}

.reference-element h3 {
    text-transform:uppercase;
}

.reference-element img, .description-element img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 2rem;
}

.reference-element img {
    margin-top: 2.8em;
}

.thumb-overlay { position: absolute; top: 0; left: 0; display: none; background-color: red; z-index: 200; opacity: 0.8;}

.active-thumb img {
    position:relative;

    /*vertical-align:top;*/
}

.Xactive-thumb img:after {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,153,0,0.98);
    opacity:0;
    transition: all 1s;
    -webkit-transition: all 1s;
}

.orbit-thumbs a div {
    float: left;
}

.orbit-thumbs a div img {
    width: 100px;
    height: 100%;
}

a.active-thumb div {
    display: block;
    /*height: 64px;*/
    position: relative;
    width: 100px;
    content:'\A';
    top:0; left:0;
    background:rgba(0,153,0,0.6)!important;
}

.active-thumb div img {
    opacity: 0.5;
}
.active-thumb div:after, .active-thumb div:before {
    position:absolute;
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.orig-active-thumb {
    content:'\A';
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,153,0,0.6);
}
.active-thumb div:hover:after, .active-thumb div:hover:before {
    opacity:1;
}

#template-1:after, #slideshow-section:after {
    clear: both;
}



